html {
    font-size: 16px;
  }
.banner-1{
    display: flex;
    
    flex-direction: row;
    background-color: gray;
    padding: 32px 24px;
}
.img-banner-1{
    height: 60%;
    padding: 0 24px 0 0;


}

.flex-content {
    display: flex;
    padding: 0 1.5rem;
  }
  
.flex-content .main-content {
    width: 60%;
    padding: 2rem 1.5rem 2rem 0;
    border-right: 1px solid rgb(245, 245, 245);
  }
  
.flex-content .supporting-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2rem 0;
  }
  
  
  
  .content-image-box {
    display: flex;
    padding: 1rem 0 1rem 1rem;
    border-bottom: 1px solid rgb(245, 245, 245);
  }
  
  .content-image-box:first-child {
    padding-top: 0;
  }
  
  .content-image-box:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  
  .content-image-box .media-container {
    width: 35%;
  }
  
  .content-image-box .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    padding: 0 0.75rem 0 1rem;
  }
  
  .content-image-box h4 {
    padding-bottom: .5rem;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .content-image-box p {
    padding-bottom: .5rem;
  }
  
    
  .media-container{
    overflow: hidden;

  }
  h3 {
    font-weight: bold;
  }
.courses{
    display: flex;
    padding: 2rem 4.5rem;
    background-color: rgb(245, 245, 245);
}
.card h2,
.card h5 {
  padding-bottom: .5rem;
}
.card{
    overflow: hidden;
}
.card:hover{
    background-color: aqua;
}
#thesis-section {
    padding: 2rem 0;
  }
  
  #thesis-section .main-content {
    padding-bottom: 0;
  }
  
  #thesis-section h3 {
    padding: .5rem 0;
  }
  
  @media only screen and (max-width: 895px) {
    #thesis-section .main-content h3,
    #thesis-section .main-content p,
    #thesis-section .supporting-content {
      display: none;
    }
  
    #thesis-section {
      padding-bottom: 1.5rem;
    }
  
    #thesis-section .flex-content {
      padding: 0;
    }
  
    #thesis-section .main-content {
      width: 100%;
      padding: 0;
      margin-right: 0;
    }
  }
  
  /* Footer */
  
  footer {
    display: flex;
    padding: 1rem 1.5rem;
    font-size: .75rem;
    color: rgb(112, 112, 112);
  }
  
  footer .copyright {
    flex-grow: 1;
  }
  
  footer a {
    margin-right: .75rem;
  }
  
  footer a:last-child {
    margin-right: 0;
  }
  
  @media only screen and (max-width: 600px) {
    footer a {
      display: none;
    }
  }  
    
  
  
  
 
  